<div class="bg-gray-100">
    <div class="min-h-screen flex flex-col items-center justify-center px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-blue-600 mb-2 text-center">勤怠管理システムへようこそ</h1>
        <p class="text-lg text-gray-700 mb-10 text-center">効率的な勤務時間の管理を始めましょう。</p>
        <div class="text-xl flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 mb-10">
            <a href="/users/sign_in" class="px-6 py-3 bg-blue-500 text-white rounded-md shadow hover:bg-blue-700 transition duration-200 text-center">ユーザーログイン</a>
            <a href="/admins/sign_in" class="px-6 py-3 bg-green-500 text-white rounded-md shadow hover:bg-green-700 transition duration-200 text-center">管理者ログイン</a>
        </div>
    </div>
</div>
